@using BeatsWave.Web.ViewModels.Beats
@using BeatsWave.Common
@model ByNameViewModel

@{
    ViewData["Title"] = Model.Beat.Name;
}

<style>
    .liked{
    color:red;
    }
</style>

<section id="cart-order">
    <div class="section">
        <div class="product-cart">
            <div class="row cart-name"></div>
            <div class="row cart-item">
                <div class="col-sm-6">
                    <div class="cart-image">
                        <img src="@(Model.Beat.ImageUrl)" width="100" class="mr-3" alt="@Model.Beat.Name" />
                    </div>
                    <div class="cart-description">
                        <h2>@Model.Beat.Name prod.by <a asp-controller="Users" asp-action="Profile" asp-route-id="@Model.Beat.ProducerId">@Model.Beat.Producer</a></h2>
                        <p>
                            @Model.Beat.Description
                        </p>
                        <p>
                            <div class="ad-to-card-button">
                                <form id="cartForm" method="post"></form>
                                <a onclick="addToCart(@Model.Beat.BeatId)" class="btn btn-outline-white ml-2"
                                   title="Buy">
                                    <i class="fas fa-shopping-cart"></i>  Buy
                                </a>
                            </div>
                            <div class="post-share">
                                <div>
                                    <form id="likesForm" method="post"></form>
                                    <span>Like :</span>
                                    <a class="likeButton" onclick="like(@Model.Beat.BeatId)">
                                        @if (Model.IsLikedByCurrentUser)
                                        {
                                            <i id="heart" class="far fa-heart liked" aria-hidden="true"></i>
                                        }
                                        else
                                        {
                                            <i id="heart" class="far fa-heart" aria-hidden="true"></i>
                                        }
                                    </a>
                                    <span id="likesCount">@Model.Beat.LikesCount</span>
                                </div>
                            </div>
                            <div class="post-share">
                                <div onclick="showAddCommentForm()">
                                    <span>Comment :</span>
                                    <a>
                                        <i class="far fa-comments" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            @if (this.User.Identity.Name == Model.Beat.Producer)
                            {
                                <div class="post-share">
                                    <span>Edit :</span>
                                    <a asp-area="Producing" asp-controller="Beats" asp-action="Edit" asp-route-id="@Model.Beat.BeatId">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                                <div class="post-share">
                                    <span>Delete :</span>
                                    <a asp-area="Producing" asp-controller="Beats" asp-action="Delete" asp-route-id="@Model.Beat.BeatId">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            }
                        </p>
                    </div>
                </div>
                <div class="col-sm-2 price-name-line">
                    <div class="product-total">
                        <div class="product-price">
                            <span class="prise-mobile">PRICE</span><span>€ @Model.Beat.StandartPrice</span>
                        </div>
                    </div>
                </div>
                <div class="col music wow fadeInRightBig">
                    <div class="m_img" style="background-image: url('@Url.Content("~/images/travis.jpg")')"></div>
                    <div class="mp3 mp3_1">
                        <span>@Model.Beat.Producer - @Model.Beat.Name</span>
                        <audio controls class="audio1"><source src="@(Model.Beat.BeatUrl)" type="audio/mpeg"></audio>
                    </div>
                </div>

            </div>
        </div>
        <div id="AddCommentForm" class="coupon-form" style="display:none">
            <form class="form-inline md-form form-sm" asp-controller="Comments" asp-action="Create" method="post">
                <input type="hidden" name="BeatId" value="@this.Model.Beat.BeatId">
                <input class="mr-sm-2" type="text" name="Content" id="Content" placeholder="Comment..." aria-label="">
                <button class="search-btn" type="submit">Comment</button>
            </form>
        </div>
    </div>
</section>


<!-- START SINGLE PRODUCT SECTION -->
<partial name="_FansAndCommentsPartial" />

<div class="row cart-name"></div>
<!-- START RELEATED PRODUCT SECTION -->
@*TODO*@
@*<partial name="_RelatedProductsPartial" />*@

@section Scripts {
    <script>
        function showAddCommentForm() {
            $("#AddCommentForm").toggle();
        }

        function addToCart(beatId) {
            var token = $("#cartForm input[name=__RequestVerificationToken]").val();
            var json = { beatId: beatId, __RequestVerificationToken: token };
            console.log(json);
            $.ajax({
                url: "/api/carts",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSFR-TOKEN': token },
                success: function (dataa) {
                    $("#cartCount").html(dataa.cartCount);
                    alert(dataa.message);
                }
            })
        }

        function like(beatId) {
            var token = $("#likesForm input[name=__RequestVerificationToken]").val();
            var json = { beatId: beatId, __RequestVerificationToken: token };
            $.ajax({
                url: "/api/likes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSFR-TOKEN': token },
                success: function (data) {
                    $("#likesCount").html(data.likesCount)
                    if (data.isLiked === false) {
                        $("#heart").removeClass("liked")
                    }
                    else {
                        $("#heart").addClass("liked")
                    }
                }
            });
        }
    </script>
}