@using BeatsWave.Web.ViewModels.Beats
@model IndexBeatViewModel

@{
    ViewData["Title"] = Model.Name;
}

<section id="cart-order">
    <div class="section">
        <div class="product-cart">
            <div class="row cart-name"></div>
            <div class="row cart-item">
                <div class="col-sm-6">
                    <div class="cart-image">
                        <img src="@(Model.ImageUrl)" width="100" class="mr-3" alt="@Model.Name" />
                    </div>
                    <div class="cart-description">
                        <h2>@Model.Name prod.by <a asp-controller="Users" asp-action="Profile" asp-route-id="@Model.ProducerId">@Model.Producer</a></h2>
                        <p>
                            @Model.Description
                        </p>
                        <p>
                            <div class="ad-to-card-button">
                                <a class="btn btn-outline-white ml-2" asp-controller="Users" asp-action="Buy" asp-route-id="@Model.BeatId"
                                   title="Buy">
                                    <i class="fas fa-shopping-cart"></i>  Buy
                                </a>
                            </div>
                        </p>
                    </div>
                    <div class="post-share">
                        <div>
                            <form id="likesForm" method="post"></form>
                            <span>Like :</span>
                            <a id="beat-@Model.BeatId" class="likeButton" style="color:red;" onclick="like(@Model.BeatId)" href="#">
                                <i id="heart" class="fas fa-heart" aria-hidden="true"></i>
                            </a>
                            <span id="likesCount">@Model.LikesCount</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 price-name-line">
                    <div class="product-total">
                        <div class="product-price">
                            <span class="prise-mobile">PRICE</span><span>€ @Model.StandartPrice</span>
                        </div>
                    </div>
                </div>
                <div class="col music wow fadeInRightBig">
                    <div class="m_img" style="background-image: url('@Url.Content("~/images/travis.jpg")')"></div>
                    <div class="mp3 mp3_1">
                        <span>@Model.Producer - @Model.Name</span>
                        <audio controls class="audio1"><source src="@(Model.BeatUrl)" type="audio/mpeg"></audio>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!-- START SINGLE PRODUCT SECTION -->
<partial name="_FansAndCommentsPartial" />

<div class="row cart-name"></div>
<!-- START RELEATED PRODUCT SECTION -->
<partial name="_RelatedProductsPartial" />

@section Scripts {
    <script>
        function like(beatId) {
            var token = $("#likesForm input[name=__RequestVerificationToken]").val();
            var json = { beatId: beatId, __RequestVerificationToken: token };
            $.ajax({
                url: "/api/likes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSFR-TOKEN': token },
                success: function (data) {
                    $("#likesCount").html(data.likesCount)
                }
            });
        }
    </script>
}