@using BeatsWave.Web.ViewModels.Users
@model BeatToBuyViewModel

<section id="cart-order">
    <div class="section">
        <div class="product-cart">
            <div class="row cart-name">
                <div class="col-6"><span>Product</span></div>
                <div class="col-2"><span>Price</span></div>
                <div class="col-2"><span>Quantity</span></div>
                <div class="col-2"><span>Total</span></div>
            </div>
                <div class="row cart-item">
                    <div class="col-sm-6">
                        <div class="cart-image">
                            <a href="20-Single-Product.html"><img src="@Model.ImageUrl" alt="@Model.Name"></a>
                        </div>
                        <div class="cart-description">
                            <a href="20-Single-Product.html"><h2>@Model.Name</h2></a>
                            <p>
                                @Model.Description
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-2 price-name-line">
                        <div class="product-total">
                            <div class="product-price">
                                <span class="prise-mobile">PRICE</span><span>€ @Model.StandartPrice</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="product-count">
                            <div class="plusminus horiz">
                                <button></button>
                                <input type="number" name="productQty" value="1" min="1" max="10">
                                <button></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 total-name-line">
                        <div class="product-total">
                            <div class="product-price">
                                <span class="total-mobile">TOTAL</span><span>€ @Model.StandartPrice</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 delet-line">
                        <div class="delete-product">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 15.642 15.642" enable-background="new 0 0 15.642 15.642" width="21" height="21">
                                <path fill-rule="evenodd" d="M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061  c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,0c-0.293,0.293-0.293,0.768,0,1.061  l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541  l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,0.293-0.768,0-1.061L8.882,7.821z" fill="#FFFFFF" />
                            </svg>
                        </div>
                    </div>
                </div>
        <div class="order-coupon">
            <div class="enter-coupon">
                <div class="coupon-title">
                    <h3>Enter Coupon</h3>
                    <span>to get discount</span>
                </div>
                <div class="coupon-form">
                    <form class="form-inline md-form form-sm">
                        <input class="mr-sm-2" type="text" placeholder="Enter Coupon" aria-label="">
                        <button class="search-btn" type="submit">APPLY</button>
                    </form>
                </div>
            </div>
            <div class="order-button">
                <div class="glob-price">
                    <div class="o-t">
                        <span>Order Total :</span>
                    </div>
                    <div class="g-p">
                        <span>€ 3410</span>
                    </div>
                </div>
                <div class="cart-buttons">
                    <a href="#">UPDATE CART</a>
                    <a href="15-Checkout-Page.html">CHECKOUT</a>
                </div>
                <div class="c-t">
                    <p>
                        Taxes and shipping credit will be calculated after
                        you enter your shipping information in the next step.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>