@using BeatsWave.Web.ViewModels.Users
@model UsersLikedBeatsViewModel

@{
    ViewData["Title"] = "Liked beats";
}

    <section id="discography">
        <div class="section">
            <div class="row">
                @foreach (var like in Model.Likes)
                {
                    <div class="w-100 col-md-4 music-banner">
                        <div class="w-100">
                            <img class="music-banner-image" src="@(like.Beat.ImageUrl)" alt="@like.Beat.Name">
                            <div class="music-banner-text">
                                <div class="dis-name">
                                    <h2>@like.Beat.Name</h2>
                                    <p>@like.Beat.Producer</p>
                                    <p>@like.Beat.Bpm bpm</p>
                                </div>
                            </div>
                            <a asp-controller="Beats" asp-action="ByName" asp-route-id="@like.Beat.Id" class="music-banner-link"></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>