@using BeatsWave.Web.ViewModels.Users
@model UserViewModel

@{
    ViewData["Title"] = Model.UserName;
}
<section id="discography">
    <div class="section">
        <div class="row">
            @foreach (var beat in Model.Beats)
            {
                <div class="w-100 col-md-4 music-banner">
                    <div class="w-100">
                        <img class="music-banner-image" src="@(beat.ImageUrl)" alt="@beat.Name">
                        <div class="music-banner-text">
                            <div class="dis-name">
                                <h2>@beat.Name</h2>
                                <p>@beat.Producer</p>
                                <p>@beat.Bpm bpm</p>
                            </div>
                        </div>
                        <a asp-controller="Beats" asp-action="ByName" asp-route-id="@beat.Id" class="music-banner-link"></a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
}

@section Follow {
    <div class="form">
        <form id="followForm" method="post"></form>

        @if (Model.IsFollowedByCurrentUser == false)
        {
            <a id="followText" onclick="follow('@Model.Id')" class="btn btn-primary" style="color:white">
                <i id="followIcon" class="fas fa-user-friends" style="color:white"></i>  FOLLOW
            </a>
        }
        else
        {
            <a id="followText" onclick="follow('@Model.Id')" class="btn btn-primary" style="color:white">
                <i id="followIcon" class="far fa-window-close" style="color:white"></i>  UNFOLLOW
            </a>
        }
    </div>
}

@section Scripts {
    <script>
        function follow(followedUserId) {
            var token = $("#followForm input[name=__RequestVerificationToken]").val();
            var json = { followedUserId: followedUserId, __RequestVerificationToken: token };
            $.ajax({
                url: "/api/follow",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSFR-TOKEN': token },
                success: function (data) {
                    if (data.isFollowed == true) {
                        $("#followText").contents().last().replaceWith('  UNFOLLOW')
                        $("#followIcon").removeClass("fas fa-user-friends")
                        $("#followIcon").addClass("far fa-window-close")
                    }
                    else {
                        $("#followText").contents().last().replaceWith('  FOLLOW')
                        $("#followIcon").removeClass("far fa-window-close")
                        $("#followIcon").addClass("fas fa-user-friends")
                    }
                }
            })
        }
    </script>
}
