@using BeatsWave.Web.ViewModels.Home
@model IndexViewModel
@{
    ViewData["Title"] = "All";
    int itemsPerRow = 2;
    List<IndexBeatViewModel> beats = Model.Beats.ToList();
}
    <section id="page-title">
        <div class="title-image">
            <!--<h1>beatswave</h1>-->
            <img src="~/images/logo1.png" alt="Logo 1">
        </div>
        <div class="global-title wow zoomIn">
            <h1>NEWS FEED</h1>
        </div>
    </section>
        <div class="beats-container">
    @for (int i = 0; i < Model.Beats.Count(); i++) //10
    {
        
        var beat = beats[i];
        
            <div class="media beat-element">
                <img src="@(beat.ImageUrl)" width="100" class="mr-3" alt="@beat.Name"/>
                <div class="media-body">
                    <h5 class="mt-0">
                        <a class="beat-name" href="@(beat.Url)">
                            @beat.Name
                        </a>
                        <p class="beat-price">@beat.StandartPrice</p>
                        @*<p class="beat-description">@beat.Description</p>*@
                    <i class="fa fa-info-circle" data-toggle="tooltip"  rel="tooltip" title="@beat.Description"></i>
                    </h5>
                </div>
            </div>
    }
        </div>

