@using BeatsWave.Web.ViewModels.Home
@model IndexViewModel
@{
    ViewData["Title"] = "NEWS FEED";
}


<section id="cart-order">
    <div class="section">
        <div class="product-cart">
            <div class="row cart-name">
                <div class="col-6"><span>Image</span></div>
                <div class="col-2"><span>Price</span></div>
                <div class="col-4"><span>Beat</span></div>
            </div>
            @foreach (var beat in Model.Beats)
            {
        <div class="row cart-item">
            <div class="col-sm-6">
                <div class="cart-image">
                    <img src="@(beat.ImageUrl)" width="100" class="mr-3" alt="@beat.Name" />
                </div>
                <div class="cart-description">
                    <h2>@beat.Name prod.by <a asp-controller="Users" asp-action="Profile" asp-route-id="@beat.ProducerId">@beat.Producer</a></h2>
                    <p>
                        @beat.Description
                    </p>
                </div>
                <div>
                    <a asp-controller="Users" asp-action="Buy" asp-route-id="@beat.BeatId">
                        <img src="~/favicons/android-chrome-192x192.png">
                    </a>
                </div>
            </div>
            <div class="col-sm-2 price-name-line">
                <div class="product-total">
                    <div class="product-price">
                        <span class="prise-mobile">PRICE</span><span>€ @beat.StandartPrice</span>
                    </div>
                </div>
            </div>
            <div class="col music wow fadeInRightBig">
                <div class="m_img" style="background-image: url('@Url.Content("~/images/travis.jpg")')"></div>
                <div class="mp3 mp3_1">
                    <span>@beat.Producer - @beat.Name</span>
                    <audio controls class="audio1"><source src="@(beat.BeatUrl)" type="audio/mpeg"></audio>
                </div>
            </div>
            <div>
                <div>
                    <form id="likesForm" method="post"></form>
                        <a href="#" onclick="like(@beat.BeatId)">
                            <i class="fa fa-heart fa-4x"></i>
                        </a>
                </div>
                <div id="likesCount">@beat.LikesCount</div>
            </div>
        </div>
            }
        </div>
    </div>
</section>

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        @if (this.Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Home" asp-action="All" asp-route-page="@(this.Model.CurrentPage - 1)">Previous</a>
            </li>
        }

        @for (int i = 1; i <= this.Model.PagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : string.Empty;

            <li class="page-item" @active>
                <a class="page-link" asp-controller="Home" asp-action="All" asp-route-page="@i">@i</a>
            </li>
        }

        @if (this.Model.CurrentPage == this.Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Home" asp-action="All" asp-route-page="@(this.Model.CurrentPage + 1)">Next</a>
            </li>
        }
    </ul>
</nav>

@section Scripts {
    <script>
        function like(beatId) {
            var token = $("#likesForm input[name=__RequestVerificationToken]").val();
            var json = { beatId: beatId, isUpVote: true, __RequestVerificationToken: token };
            $.ajax({
                url: "/api/likes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSFR-TOKEN': token },
                success: function (data) {
                    $("#likesCount").html(data.likesCount)
                }
            });
        }
    </script>
}