@using BeatsWave.Web.ViewModels.Beats
@using BeatsWave.Common
@model IndexViewModel
@{
    ViewData["Title"] = "NEWS FEED";
}

<section id="blog-grid-gallery">
    <div id="grid-gallery" class="grid-gallery">
        <section class="grid-wrap section">
            <div class="results">
                <div class="results-text">
                    <span>Showing all @Model.Beats.Count() results</span>
                </div>
                <div class="results-select">
                    <div class="btn-group">
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Sort by<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="#">Popularity</a></li>
                            <li class="dropdown-item"><a href="#">Newest</a></li>
                            <li class="dropdown-item"><a href="#">Oldest</a></li>
                            <li class="dropdown-item"><a href="#">Price</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="grid">
                <li class="grid-sizer"></li>
                @foreach (var beat in Model.Beats)
                {
                    <li class="wow fadeInUp">
                        <a asp-controller="Beats" asp-action="ByName" asp-route-Id="@beat.BeatId">
                            <figure>
                                <div class="blog-grid-image">
                                    <img src="@(beat.ImageUrl)" alt="@beat.Name" />
                                </div>
                                <figcaption>
                                    <h3>@beat.Name</h3>
                                    <p>produced by @beat.Producer<p>
                                    <p>$@beat.StandartPrice<sup>.00</sup></p>
                                    @*<span class="post-publish-date">@beat.CreatedAt.Month @beat.CreatedAt.Day, @beat.CreatedAt.Year</span>*@
                                    <p>
                                        @beat.Description
                                    </p>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                }
            </ul>
        </section><!-- // grid-wrap -->
    </div><!-- // grid-gallery -->
</section>
