@using BeatsWave.Web.ViewModels.Beats
@model ByNameViewModel

<section id="single-product-section">
    <div class="section">
        <div class="single-tab-content">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#description" role="tab" data-toggle="tab">FANS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#review" role="tab" data-toggle="tab">COMMENTS (@Model.Beat.Comments.Count())</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane first-tab-pane fade in active" id="description">
                    @if (Model.Fans.Count() == 0)
                    {
                        <em class="text-light">NO CURRENT FANS</em>
                    }
                    @foreach (var fan in Model.Fans)
                    {
                            <div class="post-author">
                                <div class="author-info">
                                    <div class="author-image">
                                        <img src="resources/images/no-pic.png" alt="No Pic" class="no-pic" style="display: none;">
                                        <img src="@fan.ImageUrl" alt="Eye Spy">
                                    </div>
                                    <div class="author-name-date">
                                        <p>@fan.Name</p>
                                        <p>
                                            <time datetime="@fan.CreatedOn.ToString("O")"></time>
                                        </p>
                                    </div>
                                </div>
                            </div>
                     }
                </div>
                <div role="tabpanel" class="tab-pane secondt-tab-pane fade" id="review">
                    <div id="blog-post" class="col-sm-9">
                        @foreach (var comment in this.Model.Beat.Comments)
                        {
                            <div class="post-author">
                                <div class="author-info">
                                    <div class="author-image">
                                        <img src="resources/images/no-pic.png" alt="No Pic" class="no-pic" style="display: none;">
                                        <img src="resources/images/eye_spy.png" alt="Eye Spy">
                                    </div>
                                    <div class="author-name-date">
                                        <p>@comment.UserUserName</p>
                                        <p>
                                            <time datetime="@comment.CreatedOn.ToString("O")"></time>
                                        </p>
                                    </div>
                                    <em>@comment.Content</em>
                                </div>
                                @*<div class="author-description">
                                    <p>
                                        @comment.Content
                                    </p>
                                </div>*@
                            </div>
                        }
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>